h1{
   font-size: 60px;
   text-align: center;
   color: rgba(253, 214, 155, 0.445);
}
a{
    text-decoration: none;
    color: #d9d4c1;
    /* color: white; */
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
    font-weight: 500;

}
a:active{
    text-decoration-style: double;
    color: indigo;
    
    
}    
a:hover{
    text-decoration: underline;
    font-size: 19px;
    color: #ebe7d8; 
}
a:visited{

}
p{
    font-size: 30px;
    color: #1c1817;
}
section{
   display: flex;

}
div{
    display: flex; flex-flow: column;
    width: 500px;
    border-radius: 10px;
    background-color: #7a685b;
    padding-left: 10px;
    padding-bottom: 30px;
    margin-left: 10px;
    color: #e8e3d5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
}
body{
    max-width: 1300px;
    margin: 100px;
    background-color: #59443f;
    
}
section{
    padding-left: 15px;
    margin-bottom: 0px;
    /* padding: 40px; */
    
    }
footer{
    background-color: rgba(253, 214, 155, 0.445);
    padding: 0px 10px 20px 60px;
    margin-top: 10px;
    border-radius: 70px;
}
button{
    padding-left: 10px;
    border-radius: 6px;
    margin: 20px;
    padding-top: 10px;
    color:  #382b02;;
    background-color: wheat;

}