a{
    text-decoration: none;
    color: #d9d4c1;
    /* color: white; */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
h1{
    text-align: center;
    font-size: 60px;
    color: rgba(253, 214, 155, 0.445);
}
a:active{
    text-decoration-style: double;
    color: indigo;
    
    
}    
a:hover{
    text-decoration: underline;
    font-size: 18px;
    color: white; 
}
a:visited{

}
p{
    font-size: 26px;
    color:#ede1b9be;
}
section{
   display: flex;

}
div{
    display: flex; flex-flow: column;
    width: 500px;
    border-radius: 20px;
    background-color:#7a685b;;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-left: 0px 0px 30px 10px;
    color: #e8e3d5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    /* max-width: 2000px; */
    max-width: 100%;
    margin: 40px;
    background-color: #59443f;
    padding-left: 20px;
    padding-right: 40px;
}
section{
    padding-left: 15px;
    margin-bottom: 0px;
    /* padding: 40px; */
    
    }
footer{
    background-color: rgba(253, 214, 155, 0.445);
    padding: 0px 10px 20px 30px;
    margin: 0px 0px 0px 20px ;
    max-width: 100%;
    border-radius: 20px;
    display: flex;
}
button{
    padding-left: 10px;
    border-radius: 6px;
    margin: 20px;
    padding-top: 10px;
    /* color: #382b02;
    background-color: wheat; */
    color: wheat; 
    background-color: #382b02;
    height: 70px;
    max-width: 100px;
    font-size: 18px;
}

button:hover{
    
    color: white;
}
h2{
    color:#ede1b9be;
}